$primary: #f3918f;
$secondary: #c06c6a;
$primary-text-color: #f0efdc;
$primary-font: 'Zen Tokyo Zoo';
$secondary-font: 'Yu Gothic UI';

@font-face {
	font-family: 'Zen Tokyo Zoo';
	src: url(./assets/fonts/ZenTokyoZoo-Regular.ttf);
}
